.movies-filter{
    margin: 16px;
    align-items: center;
    justify-content: center;
 
}

.movie-filter-card-content{
    
    min-width: 240px;
    max-width: 240px;
    
}

.movie-filter-header{
    color: var(--primary-light);
}

